{% extends "base.html" %} 
{% block title %}Team{% endblock %} 

{% block content %}
<br>
<h2>Team members: </h2>
<div>
</br>
<table class="table table-striped table-sm">
    {% if not members %}
        <tr>No members.</tr>
    {% endif %}
    
        {% for member in members %}
        <tr>    
            <th><b>Name:</b></th>   
            <th>{{ member.first_name }}</th>
            <th><b>Email:</b></th>
            <th>{{ member.email }}</th>  
        </tr>
        {% endfor %}
</div>
</table>
<hr>
<div>
    <h3>Founder:</h3>
    <table class="table table-striped table-sm">
    <tr>    
        <th><b>Name:</b></th>   
        <th>{{ founder.first_name }}</th>
        <th><b>Email:</b></th>
        <th>{{ founder.email }}</th>  
    </tr>
    </table>
</div>

{% endblock %}
